* {
    margin: 0;
    padding: 0;
    }

.hero {

    background-image: linear-gradient(#3C4757, #223757);
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}    

.navb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    z-index: 7;
    background-color: #0005;
    text-align: center;
    


    
    
  }


nav li {
    
    /* display: flex;
    flex-direction: row; */
    /* /* justify-content: flex-start; */
    display: inline-flex;
    margin: 0 50px;
    z-index: 10;
    }

nav a:hover { 
       
        color: #92B8F0;
    } 

   

/* nav li:hover ~ nav li {
        color: rgb(49, 49, 148);
        text-align: center;
    }  */

nav ul li a {
    padding: 30px 15px;
    text-decoration: none;
    font-family: "Courier New", sans-serif;
    color: white;
    z-index: 10;
    
    

    
} 



header {
    
    font-family: "Manrope", sans-serif;
    
  }

.nametitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 100px;
    color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    top: 35%;
    text-align: left;
    z-index: 2;
   
}

.brief {
    font-size: 25px;
    color: white;
    text-align: center;
}